<ion-menu
  side="start"
  menuId="main"
  contentId="main"
  (ionWillOpen)="onMenuOpen()"
  (ionWillClose)="onMenuClose()"
>
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button menu="main"></ion-menu-button>
      </ion-buttons>
      <ion-title>App Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item *ngFor="let menu of menuOptions" [routerLink]="menu.route">
          <ion-icon
            slot="start"
            [name]="menu.icon"
            [color]="menu.active ? 'primary' : ''"
          ></ion-icon>
          <ion-label [color]="menu.active ? 'primary' : ''">{{
            menu.label
          }}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>
