<ng-container [formGroup]="form">
  <ion-item>
    <ion-label position="floating" [attr.for]="formControltMetadata.key"
      >{{ formControltMetadata.label }}
      <ng-container *ngIf="formControltMetadata.required">
        <small> * </small>
      </ng-container>
    </ion-label>

    <ng-container [ngSwitch]="formControltMetadata.controlType">
      <ion-input
        *ngSwitchCase="'textbox'"
        [formControlName]="formControltMetadata.key"
        [id]="formControltMetadata.key"
        [type]="formControltMetadata.type"
      ></ion-input>

      <ion-select
        [id]="formControltMetadata.key"
        *ngSwitchCase="'dropdown'"
        [formControlName]="formControltMetadata.key"
      >
        <ion-select-option
          *ngFor="let opt of formControltMetadata.dropdownOptions"
          [value]="opt.key"
        >
          {{ opt.value }}
        </ion-select-option>
      </ion-select>
    </ng-container>

    <ng-container class="errorMessage" *ngIf="!isValid">
      <small>{{ formControltMetadata.label }} is required</small>
    </ng-container>
  </ion-item>
</ng-container>
