<app-header title="settings"></app-header>

<ion-content>
    <ion-item>
      <ion-label position="floating">Method</ion-label>
      <ion-select interface="popover" [(ngModel)]="method">
        <ion-select-option value="https">https</ion-select-option>
        <ion-select-option value="http">http</ion-select-option>
      </ion-select>
    </ion-item>
  <ion-item>
    <ion-label position="floating">Url</ion-label>
    <ion-input type="text" [(ngModel)]="url"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Port</ion-label>
    <ion-input type="number" [(ngModel)]="port"></ion-input>
  </ion-item>

  <ion-button (click)="onSave()" expand="block">
    Save
  </ion-button>
</ion-content>
