<ng-container [formGroup]="form">
  <ion-item [id]="'date-' + formControltMetadata.key">
    <ion-label position="floating" [attr.for]="formControltMetadata.key"
      >{{ formControltMetadata.label }}
      <ng-container *ngIf="formControltMetadata.required">*</ng-container>
    </ion-label>
    <ion-input
      [value]="selectedDate"
      (ionChange)="onChange()"
    ></ion-input>

    <ion-modal [trigger]="'date-' + formControltMetadata.key">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title> {{ formControltMetadata.label }} </ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"> OK </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-datetime
            #dateTime
            presentation="date"
            [formControlName]="formControltMetadata.key"
          ></ion-datetime>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
</ng-container>
