<ng-container [formGroup]="form">
  <ion-item>
    <ion-label position="floating" [attr.for]="formControltMetadata.key"
      >{{ formControltMetadata.label }}
      <ng-container *ngIf="formControltMetadata.required">*</ng-container>
    </ion-label>
    <ion-input
      [formControlName]="formControltMetadata.key"
      [id]="formControltMetadata.key"
    ></ion-input>

    <ion-modal [trigger]="formControltMetadata.key">
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title> TITLE </ion-title>
            <ion-buttons slot="end">
              <ion-button (click)="confirm()" [strong]="true"> OK </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-searchbar
            [debounce]="150"
            (ionChange)="onSearchChange($event)"
            [value]="form.controls[this.formControltMetadata.key].value"
          ></ion-searchbar>
          <ion-list>
            <ion-item *ngFor="let data of dataSource | searchFilter: filter" (click)="onSelect(data)">
              <ion-label> {{ data.value }} </ion-label>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
</ng-container>
