<ng-container [formGroup]="form">
  <ion-item>
    <ion-label position="floating" [attr.for]="formControltMetadata.key"
      >{{ formControltMetadata.label }}
      <ng-container *ngIf="formControltMetadata.required">*</ng-container>
    </ion-label>
    <ion-input
      [formControlName]="formControltMetadata.key"
      [id]="formControltMetadata.key"
      (ionChange)="onChange()"
    ></ion-input>

    <ion-modal
      [trigger]="formControltMetadata.key"
      (willPresent)="willPresent()"
      (willDismiss)="willDismiss()"
    >
      <ng-template>
        <ion-header>
          <ion-toolbar>
            <ion-buttons slot="start">
              <ion-button (click)="cancel()">Cancel</ion-button>
            </ion-buttons>
            <ion-title> TITLE </ion-title>
            <ion-buttons slot="end">
              <ion-button
                [disabled]="!filter?.length"
                (click)="confirm()"
                [strong]="true"
              >
                OK
              </ion-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content>
          <ion-searchbar
            [disabled]="!dataSource"
            [debounce]="150"
            (ionChange)="onSearchChange($event)"
            [value]="form.controls[this.formControltMetadata.key].value"
          ></ion-searchbar>
          <ng-container *ngIf="dataSource && !dataSource.length">
            <ion-content class="ion-padding ion-text-center">
              <ion-label>No records found</ion-label>
              <ion-img src="assets/empty-folder.png"></ion-img>
            </ion-content>
          </ng-container>

          <ion-list *ngIf="dataSource">
            <ion-item
              *ngFor="let data of dataSource | searchFilter: filter"
              (click)="onSelect(data)"
            >
              <ion-label> {{ data.name }} </ion-label>
            </ion-item>
          </ion-list>
          <ion-list *ngIf="!dataSource">
            <ion-item *ngFor="let data of [].constructor(4)">
              <ion-skeleton-text [animated]="true"></ion-skeleton-text>
            </ion-item>
          </ion-list>
        </ion-content>
      </ng-template>
    </ion-modal>
  </ion-item>
</ng-container>
