<app-header title="Shoppings"></app-header>

<ion-content>
  <ion-list *ngIf="loading">
    <ion-item>
          <ion-item style="width: 100%;">
            <ion-grid>
              <ion-row>
                <ion-col> <ion-skeleton-text [animated]="true"></ion-skeleton-text> </ion-col>
              </ion-row>
              <ion-row>
                <ion-col>
                  <small><ion-skeleton-text [animated]="true"></ion-skeleton-text> </small>
                </ion-col>
                <ion-col> <ion-skeleton-text [animated]="true"></ion-skeleton-text> </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>
    </ion-item>
  </ion-list>

    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="!shoppingLists.length; else shoppingListContainer">
      <ion-content class="ion-padding ion-text-center">
        <ion-label>No records found</ion-label>
        <ion-img src="assets/empty-folder.png"></ion-img>
      </ion-content>
    </ng-container>
    <ng-template #shoppingListContainer>
      <ion-list>
        <ion-item *ngFor="let shoppingList of shoppingLists">
          <ion-item-sliding>
            <ion-item [routerLink]="['../shopping-list', shoppingList.id]">
              <ion-grid>
                <ion-row>
                  <ion-col> {{ shoppingList.name }} </ion-col>
                </ion-row>
                <ion-row>
                  <ion-col>
                    <small> Date: {{ shoppingList.effectiveDate | date }} </small>
                  </ion-col>
                  <ion-col class="ion-text-end"> {{ shoppingList.total | currency }} </ion-col>
                </ion-row>
              </ion-grid>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option
                color="danger"
                (click)="onDeleteClick(shoppingList)"
              >
                <ion-icon slot="icon-only" name="trash"></ion-icon>
              </ion-item-option>
              <ion-item-option
                color="primary"
                (click)="onEditClick(shoppingList)"
              >
                <ion-icon slot="icon-only" name="create"></ion-icon>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-item>
      </ion-list>
    </ng-template>
  
    <ion-fab
      vertical="bottom"
      horizontal="end"
      slot="fixed"
      (click)="onAddClick()"
    >
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>
  <modal-form title="Shoppings" (confirm)="onModalConfirm($event)"></modal-form>
