<div class="row">
    <div class="col-sm">
      <!-- <app-newer></app-newer> -->
      <app-form></app-form>
    </div>
    <div class="col-sm">
      <div class="card-columns">
        
      </div>
    </div>
  </div>

<table class="table">
    <thead>
        <tr>
            <th>Month</th>
            <th>Rent</th>
            <th>Paid TV</th>
            <th>Water</th>
            <th>Electricity</th>
            <th>Gas</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let expense of Expenses">
            <th> {{ expense.Period | date: 'MMMM y' }} </th>
            <td> {{ expense.Rent | currency }}</td>
            <td> {{ expense.PaidTv | currency }}</td>
            <td> {{ expense.Water | currency }}</td>
            <td> {{ expense.Electricity | currency }}</td>
            <td> {{ expense.Gas | currency }}</td>
            <td> {{ expense.Total | currency }}</td>
        </tr>
    </tbody>
</table>